@import './../../globalCSS/viewPortSizes.scss';
@import './../../globalCSS/mixins.scss';

.header {
    background-color: inherit;
    padding: 0.5rem;
    grid-template-columns: 50px auto 50px;

    &__phone {
        @include centered_items;
        grid-column: 1/-1;
        font-size: 0.8rem;
        color: black;
        &:visited,
        &:active,
        &:hover {
            color: inherit;
        }
    }
}

.menu,
.town,
.title__name {
    @include centered_items;
}

.title {
    grid-column: 2/-1;
}

.title__name {
    font-family: 'Camfortaa', 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.town {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    font-size: 0.6rem;
}

.master {
    @include centered_items;
    align-self: center;
    grid-column: 1/-1;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 1.3rem;
}

.btnMenu {
    height: 75%;
    width: 75%;
    background: url('./../../img/icons/menu.svg') no-repeat center/contain;
}
