@import './globalCSS/viewPortSizes.scss';
@import './globalCSS/globalColors.scss';
@import './globalCSS/fonts.scss';
div,
header {
    display: grid;
}

button {
    border: none;
    display: block;
    padding: 0;
}

.wrapper {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    min-width: 250px;
    grid-template-rows: min-content minmax(200px, auto) 170px 40px;
    background-color: $mainBackgroundColor;
}
