@import './../../globalCSS/mixins.scss';

.slider {
    @include centered_items;
    background: url('./../../img/sliders_images/slider_1.jpg') no-repeat center /
        cover;
}

.textBackdrop {
    @include centered_items;
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(70%);
}

.slider__text {
    width: 90%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
